.headerSpacer {
  flex: 1 1 auto;
}


a {
  text-decoration:rgb(3, 59, 78);
  color: rgb(17, 17, 17);
}

ul {
  margin:auto;
}

.bgHeader {
background-color: #aa8ad30c;

}

mat-form-field {
  margin: 0px 0px;
  font-size: 25px;
  width: 300px;
  padding: 7px;
}

.dropdown-item{
  background-color: #22202234;
}


a:hover, a:active{
  color: lightgray;
}

#logo{
  height: fit-content;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}


